<div id="inner-grid-menu">
    <span class="dropdown" dropdown>
        <a href class="dropdown-toggle" dropdown-toggle>
         <i class="icon-large icon-list"></i>
        </a>
        <div class="dropdown-menu">
            <div ng-click="getSelectedRowData(dataItem);">
                <i class="k-icon k-i-pencil"></i>Edit</div>
            <div ng-click="deleteSelectedGridData(dataItem)">
                <i class="k-icon k-i-close"></i>Delete
            </div>
        </div>
    </span>
</div>
