<div class="sidebar-navigation">
    <div class="logo-area">
        <img src="assest/images/cms-logo.png" />
    </div>
    <div class="menu">
        <div ui-sref-active="active-menu">
            <a ui-sref="home.company">
                <i class="icon-large icon-computer-proces"></i><span>Company</span>
            </a>
        </div>
        <div ui-sref-active="active-menu">
            <a ui-sref="home.employee">
                <i class="icon-large icon-parents"></i><span>Employee</span>
            </a>
        </div>
        <div>
            <a ui-sref="logout">
                <i class="icon-large icon-off"></i><span>Logout</span>
            </a>
        </div>
    </div>
</div>
